body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.body-title {
    color: #333;
    font-family: sans-serif, 'Trebuchet MS';
    font-weight: 200;
}
.body-second-title {
    color: #333;
    font-family: 'Trebuchet MS',  sans-serif;
    font-weight: 600;
}

h2 {
    color: #555;
}

label, input, button {
    display: block;
    margin: 10px auto !important;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: auto !important;
}

input {
    border: 1.5px black solid;
    border-radius: 5px;
}

input[type="number"], input[type="text"] {
    width: 110px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
}

#add-friend, #add-item {
    border-radius: 10px !important;
    margin: 0.5em auto !important;
}

#friends-list, #items-list {
    text-align: center;
    /* display: inline-block; */
}

.friend {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.item {
    position: relative;
    display: inline-block;
    margin: -1px 0;
    padding: 10px 0px;
    border: 2px solid #000;
    border-radius: 5px; 
    background-color: #fff; 
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* min-width: 260px; */
    width: 100%;
}

.friend .delete-btn, .item .delete-btn, .item .collapse-btn {
    position: absolute;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0;
}
.friend .delete-btn {
    background: red;
    color: white;
    top: -5px;
    right: -5px;
    padding: 0.6em 0.6em;
}
.item .delete-btn {
    background: #fff; 
    color: #000;
    padding: 1em 1em;
    top: 0.01em;
    right: 0.01em;
    font-size: 20px;
}
.item .collapse-btn {
    background-color: transparent;
    color: #000000;
    padding: 1em 1em;
    padding-right: 52em;
    top: 0.01em;
    left: 0.1em;
    font-size: 20px;
    font-weight: 900;
}

.item .item-title {
    font-weight: bold;
}

.friend-name {
    background-color: white;
    color: black;
}

.friend-name, .item-friend-name {
    /* background-color: #e0e0e0; */
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}

.item-friend-name {
    color: rgb(255, 254, 251);
}

.item-friends {
    text-align: left;
    display: inline-block;
    margin: 10px 0;
}

.item-friend {
    display: flex;
    align-items: center;
    /* margin-bottom: 5px; */
    margin-right: 1em;
}

.item-friend-name {
    border-radius: 10px;
    min-width: 13.2em;
    min-height: 3.9em;
    padding-left: 24px;
}

.distribute-btn {
    display: block;
    background-color: rgb(120, 120, 120);
    border-radius: 100px;
    margin-left: 1em;
    margin-top: 1.5em !important;
}

.unit-btn {
    display: inline-block;
    background-color: darkblue;
    border-radius: 100%;
    padding: 0;
    margin-left: 10px;
    min-width: 42px;
    min-height: 42px;
}

.percentage-input {
    display: inline;
}

.item-friend input[type="checkbox"] {
    margin-right: 3px !important;
}

.item-friend input[type="number"] {
    width: 80px;
    margin: 10px;
}

.item-friend input[type="number"].locked {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.item-friend input[disabled] {
    pointer-events:none
}

.item-head {
    font-weight: bolder;
}

#results {
    background-color: #f5f5f5;
    border-radius: 6px;
    display: inline-block;
    width: 80%;
    border: 2px solid black;
}

#results h5 {
    margin-top: 0;
    color: #333;
    font-weight: 600;
    font-family: 'Trebuchet MS', sans-serif;
}

#results-alert {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#results-output {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.result-output-friend {
    min-width: 10em;
    color: rgb(255, 254, 251);
    border: 2px solid black;
}

.result-output-friend:hover {
    opacity: 0.8;
    cursor: pointer;
}

#results #share-result-btn {
    color: #333;
    font-size: 1.2em;
}

.line {
    margin:5px 0;
    height:2px;
    background:
        repeating-linear-gradient(90deg,rgb(30, 30, 30) 0 10px,#0000 0 12px)
        /*10px red then 2px transparent -> repeat this!*/
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  /* color: #fff; */
  /* background-color: #1A1A1A; */
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  /* padding: 12px 40px; */
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  /* vertical-align: middle; */
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/* <!-- HTML !-->
<button class="button-54" role="button">Button 54</button> */

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 768px) {
    .body-title {
      font-size: 2.5em;
      font-weight: 300;
    }
    .button-28 {
      width: 60%;
    }
    .item .collapse-btn {
      padding-right: 75%;
    }
    .button-28:hover {
      transform: none;
      box-shadow: none;
    }
    .button-28:active {
      background-color: #7c7c7c;
    }
  }